:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.d-f{display: flex;}
.ai-c{align-items: center;}
.ac-c{align-content: center;}
.ac-fe{align-content: flex-end;}
.ai-fs{align-items: flex-start;}
.ai-fe{align-items: flex-end;}
.jc-c{justify-content: center;}
.jc-fs{justify-content: flex-start;}
.jc-fe{justify-content: flex-end;}
.f-1{flex:1}
.fw-w{flex-wrap: wrap;}
.fw-nw{flex-wrap: nowrap;}
.fd-c{flex-direction: column;}
.jc-sb{justify-content: space-between;}

.d-b{display: block;}
.d-ib{display: inline-block;}

.m-0a{margin:0 auto;}

.w-100{width: 100%;}
.w-50{width: 50%;}
.w-50-r{width: 50%;}
.w-33-r{width: 33%;}
.h-100{height: 100%;}
.ov-fs{overflow: scroll;}

.ta-c{text-align: center;}
.ta-l{text-align: left;}
.tt-uc{text-transform: uppercase;}
.va-m{vertical-align: middle;}

.pos-r{position: relative;}
.pos-a{position: absolute;}
.pos-f{position: fixed;}

.fw-b{font-weight: bold;}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
